#M-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#M-rentSpan {
  width: 30px;
  height: 15px;
  background-color: #3478f6;
  color: #ffff;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#Y-rentSpan {
  margin: 0px 10px;
  width: 30px;
  height: 15px;
  background-color: gray;
  color: #ffff;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#SellSpan {
  width: 30px;
  height: 15px;
  background-color: gray;
  color: #ffff;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* input창 안에 타입이 number일때 옆에 화살표 제거 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
