body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

#M-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#M-rentSpan {
  width: 30px;
  height: 15px;
  background-color: #3478f6;
  color: #ffff;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#Y-rentSpan {
  margin: 0px 10px;
  width: 30px;
  height: 15px;
  background-color: gray;
  color: #ffff;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#SellSpan {
  width: 30px;
  height: 15px;
  background-color: gray;
  color: #ffff;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
h1 h2 {
  margin: 0px;
  padding: 0px;
}

/* input창 안에 타입이 number일때 옆에 화살표 제거 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.layout {
  width: 500px;
  height: 500px;
  border: 1px solid #111;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Inputdiv {
  display: flex;
  width: 100%;
  margin-top: 20px;
  gap: 10px;
  justify-content: space-between;

  align-items: center;
}

.aInput {
  border: none;
  /* background-color: red; */
}
.Input {
  border: 0.5px solid;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}
.Input input {
  padding: 3px;
}
.Inputbox button {
  width: 100%;
  height: 100%;
  background-color: #3478f6;
  color: #ffff;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  margin-top: 20px;
}
.house {
  border: 1px solid black;
  padding: 3px;
}
.house :hover {
  background-color: #3478f6;
  border-radius: 10px;
  color: white;
  padding: 3px;
}
.house span {
  margin: 5px 5px;
}
.location {
  margin: 10px 0px;
}
